<div id="authenticator">
    <mat-card id="authenticator-content">
        <mat-card-header>
            <mat-card-title>{{ getStateText() }}</mat-card-title>
        </mat-card-header>
        <form>
            <div *ngIf="isLoginState()">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <button mat-flat-button color="warn">Login</button>
            </div>
            <div *ngIf="isRegisterState()">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <button mat-flat-button color="warn">Create</button>
            </div>
            <div *ngIf="isForgotPasswordState()">
                <input type="text" placeholder="Email">
                <button mat-flat-button color="warn">Reset</button>
            </div>
        </form>
        <mat-card-actions align="end">
            <button (click)="onForgotPasswordClick()" mat-flat-button>Forgot Password</button>
            <button (click)="onCreateAccountClick()" mat-flat-button>Create an account</button>
            <button (click)="onLoginClick()" mat-flat-button>Login</button>
        </mat-card-actions>
    </mat-card>
</div>