<div class="wrapper">
    <div class="block">
        
        
        
            
            <form  [formGroup]="login">
                <h2>LOG-IN</h2>
                <input type="text" placeholder="Enter Name" class = "inp" formControlName="name"/>
                <input type="password" placeholder="Password" class="inp" formControlName="password"/>
                <div class btns>
                    <button (click) = "loginSubmit(login.value)" [disabled]= "login.invalid">Login</button>
                    <button (click) = "goToSignUp()">SignUp</button>
                </div>
            </form>
        
        
    </div>
 </div>

   
